.header-pages-container {
  @media(max-width: 500px) {
    height: 8.784rem;
    margin: 4.5rem 0rem 0rem 0rem;
  }

  @media(max-width: 1444px) {
    margin: 5.5rem 0rem 0rem 0rem;
    width: 100%;
  }

  background-image: url('../../assets/backgroundHeaderPages.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 85%;
    margin: 0% 0% 0% 15%;
    height: 17.569rem;
    display: flex;
    position: fixed;
    z-index: 2;
}

.toggle-dark-mode-container {
  @media(min-width: 1444px) {
    display: none;
  }

  position: fixed;
  right: 0;
  margin: 5.6rem 0rem 0rem 0rem;
  z-index: 3;
}
