.all-musics-container {
  @media(max-width: 1444px) {
    padding: 5rem 0rem 0rem 0rem;
  }
  // margin: 17.569rem 0rem 0rem 0rem;
  padding: 3.938rem 0rem 0rem 30rem;
  position: relative;
  z-index: 1;
}
