.toogle-container {

  label {
    width: 62.5px;
    height: 25px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
  }

  label:after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2.5px;
    left: 3.5px;
    background: $secondary;
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }

  input {
    width: 0;
    height: 0;
    visibility: hidden;
    display: none;
  }

  input:checked + label {
    background: #242424;
  }

  input:checked + label:after {
    left: 59px;
    transform: translateX(-100%);
    background: $primary;
  }

  label:active:after {
    width: 30px;
  }

  label svg {
    position: absolute;
    width: 20px;
    top: 2px;
    z-index: 100;
  }

label svg.sun {
    left: 4px;
    transition: 0.3s;
  }

label svg.moon {
    left: 38.5px;
    transition: 0.3s;
  }

  input:checked + label svg.sun {
    display: none;
  }

  input + label svg.moon {
    display: none;
  }

  input:checked + label svg.moon {
    display: block;
  }
}



