.page-album-container {

  main {
    @media(max-width: 1444px) {
      @include box(100%, _none, _none, _none);
      margin: 0% 0% 0% 0%;
    }

    @include box(85%, 100vh, _none, _none);
    margin: 0% 0% 0% 15%;

    .header-album-container {
      @media(max-width: 1444px) {
        margin: 7rem 0rem 0rem 0rem;
      }

      @media(max-width: 500px) {
        width: 100%;
      }

      display: flex;
      width: 85%;
      height: 17.569rem;
      margin: 8rem 0rem 0rem 0rem;
      position: fixed;
      z-index: 2;

      img {
        @media(max-width: 1444px) {
          margin: 0rem 0rem 0rem 3rem;
        }

        @media(max-width: 500px) {
          width: 110px;
          height: 110px;
          margin: 0rem 0rem 0rem 0.3rem;
        }

        width: 240px;
        height: 240px;
        border-radius: 12px;
        margin: 0rem 0rem 0rem 10rem;
      }

      div {
        @media(max-width: 500px) {
          margin: 0rem 0.5rem 0rem 0.5rem;
          padding: 1rem 0rem 0rem 0rem;
        }

        display: flex;
        flex-direction: column;
        margin: 0rem 2rem 0rem 2rem;
        padding: 4rem 0rem 0rem 0rem;

      h1 {
        @media(max-width: 500px) {
          font-size: 15px;
          line-height: 15px;
        }

        color: $light;
        width: 100%;
        font-weight: 300;
        font-size: 25px;
        font-style: italic;
        line-height: 20px;
      }

      h3 {
        @media(max-width: 500px) {
          font-size: 11.3px;
        }

        color: $light;
        margin: 0.5rem 0rem 0rem 0rem;
      }
      }
    }
  }
}


