.favorite-container {

  main {
    @media(max-width: 1444px) {
      margin: 0% 0% 0% 0%;
      @include box(100%, _none, _none, _none);
    }

    @include box(85%, _none, _none, _none);
    margin: 0% 0% 0% 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;

    .page-favorites-container {

      .header-favorites-container {
        @include box(100%, 17.569rem, _none, _none);
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
          width: 100%;
          text-align: center;
          color: $light;
          font-style: normal;
          font-weight: 700;
          font-size: 25px;
          line-height: 20px;
          position: fixed;
          z-index: 2;
        }
      }
    }


    .all-favorites-musics {
      margin: 1rem 0rem 0rem 0rem;
      display: flex;

      .albuns-favorites {
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 1rem 0rem 0rem;
        position: relative;
        z-index: 1;

        img {
          border-radius: 12px;
        }
      }

      .music-player-favorite {
        width: 100%;
      }
    }
  }
}
