$primary: #013BE5;
$secondary: #04D9D9;

$light: #FFFFFF;
$dark: black;

$secondary-dark: #444955;
$secondary-ligth: #EFF3F9;

$disable: #0194E4;

.theme-dark {
  background-color: $dark;
  color: $light;
  transition: .7s ease-in-out background, .7s ease-in-out color;
}

.theme-ligth {
  background-color: $light;
  color: $dark;
  transition: .7s ease-in-out background, .7s ease-in-out color;
}

.secondary-theme-ligth {
  background-color: $secondary-ligth;
  transition: .7s ease-in-out background, .7s ease-in-out color;
}

.secondary-theme-dark {
  background-color: $secondary-dark;
  transition: .7s ease-in-out background, .7s ease-in-out color;
}
